@import url("https://dhrutham-ui.netlify.app/CSS/dhrutham.css");

.grid{
  display: grid;
  grid-template-areas: "main nav";
  grid-template-columns: 68% 25%;
}

main{
  margin-left:1rem;
  grid-area: main;
 
}

nav{
  grid-area: nav;
  position: fixed;
  width:20rem;
  right:4rem;
  bottom:0;
  top:3.1rem;
  overflow-y: scroll;
}


