@import url("https://dhrutham-ui.netlify.app/CSS/dhrutham.css");

nav {
  grid-area: nav;
  /* position: fixed; */
  /* width: 23rem; */

  right: 1rem;
  bottom: 0;
  top: 3.1rem;
  overflow-y: scroll;
  word-wrap: break-word;
  cursor: pointer;
}
main {
  margin-left: 1rem;
  grid-area: main;
}
.grid {
  display: grid;
  grid-template-areas: "main nav";
  grid-template-columns: 68% auto;
  grid-gap: 40px;
}

@media (max-width: 1058px) {
  nav {
    grid-area: nav;
    position: relative;
    width: 100%;
    margin: auto;
    margin-left: 2rem;
    /* margin-left:2rem; */
    overflow: hidden;
  }
  main {
    margin-left: 1rem;
    grid-area: main;
  }

  .grid {
    display: grid;
    grid-template-areas:
      "main"
      "nav";
    grid-template-columns: 100%;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-overlay {
  width: 35%;
  background-color: rgba(0, 0, 0, 0.6);
}

.checkbox-size {
  height: 1.2rem;
  width: 1.2rem;
}

.drop-down {
  max-height: 20rem;
  overflow-y: scroll;
}

.color-blue {
  color: #1e40af;
}

.center-align-ver-hor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.error-text {
  color: #dc2626;
}
.error-border-color {
  border: 1px solid #dc2626;
}
.text-input {
  height: 25px;
  width: 95%;
  /* padding: 2px 5px; */

  border-radius: 3px;
  font-size: 14px;
  /* margin-top: 3px; */
  /* margin-bottom: 1rem; */
}
.genric-border-color {
  border: 1px solid var(--gray-color);
}
.playlist-modal-width {
  max-width: 20rem;
  width: 90%;
}
