@import url("https://dhrutham-ui.netlify.app/CSS/dhrutham.css");

nav {
  grid-area: nav;
  position: relative;
  width: 97%;
  margin: auto;
  top: 0rem;
  overflow: hidden;
}

main {
  grid-area: main;
}

.grid {
  display: grid;
  grid-template-areas:
    "main"
    "nav";
  grid-template-columns: 100%;
  row-gap: 2rem;

  margin: 4rem 0.5rem 0rem 0.5rem;
}

@media (min-width: 1058px) {
  main {
    position: relative;
    grid-area: main;
  }
  nav {
    grid-area: nav;
    position: fixed;
    width: inherit;
    left: 70%;
    right: 2rem;
    bottom: 0;
    top: 4rem;
    overflow-y: auto;
    word-wrap: break-word;
    cursor: pointer;
  }

  .grid {
    display: grid;
    grid-template-areas: "main nav";
    grid-template-columns: 68% auto;
    grid-template-rows: 50%;
    column-gap: 2rem;
    margin: 4rem 2rem 0rem 2rem;
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-overlay {
  width: 35%;
  background-color: rgba(0, 0, 0, 0.6);
}

.drop-down {
  max-height: 20rem;
  overflow-y: scroll;
}

.color-blue {
  color: #1e40af;
}

.playlist-modal-width {
  max-width: 20rem;
  width: 90%;
}

/** Home page **/
.home-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.home-img {
  width: 35%;
}

.heading-big {
  font-size: 4vw;
  font-weight: bold;
}

.heading-big2 {
  font-size: 2.6vw;
  font-weight: bold;
  color: gray;
}

@media (max-width: 868px) {
  .home-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  .home-img {
    width: 100%;
    height: 10%;
  }

  .heading-big {
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
  }

  .heading-big2 {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: gray;
  }

  .flex-dir {
    flex-direction: column;
  }
}

.margin-2 {
  margin-top: 3rem;
}

.grid-wrapper {
  margin-top: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

@media (min-width: 537px) {
  .grid-wrapper {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
  }
}
.bg-gray {
  background-color: var(--gray-color);
}

.sidebar-item:hover {
  background-color: var(--gray-color);
}

.video-title {
  font-weight: 500;
}

.remove-btn-focus:hover {
  background-color: rgb(212, 211, 211);
}

.auth-form {
  width: 90%;
  max-width: 20rem;
}

.playlist-creation-input:focus {
  outline: 1px solid gray;
  padding: 0.3rem;
}

.float-right {
  float: right;
}
